/**
 * TODO check these out:
 * - https://github.com/mxkrsv/dotfiles/tree/master/.config/waybar
 * - https://github.com/cjbassi/config/tree/master/.config/waybar
 */

@keyframes blink-critical {
	to {
		background-color: @critical;
	}
}

@define-color white #fdf6e3;
@define-color black #1a1a1a;
@define-color blue  #268bd2;

/* reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	font-size: 12;
	font-family: monospace;
}

window#waybar {
	color: @white;
	background: transparent;
}

#workspaces button {
	color: @white;
}
#workspaces button.active {
	color: @black;
	background: @white;
	border-radius: 4px;
}
#workspaces button:hover {
	color: @black;
	background: @white;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: @black;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
	color: @white;
	background: @black;
}

#clock.1,
#clock.2,
#clock.3 {
	padding: 0 12px;
}

#pulseaudio.output,
#pulseaudio.input,
#memory,
#cpu {
	color: @black;
	background: @white;
	padding: 0 12px;
}

#tray {
	padding: 0 4px;
}
