@define-color detail-color      #fdf6e3;
@define-color foreground-color  #1a1a1a;
@define-color background-color  #292b2e;

* {
	font-size: 12px;
	font-family: "Source Code Pro", monospace;
	border-color: transparent;
}
window#waybar {
	background: @background-color;
	color: @detail-color;
}

#workspaces {
	background: @foreground-color;
}
#workspaces button {
	padding: 0 2px;
	color: @detail-color;
}
#workspaces button.active {
	color: @background-color;
	background: @detail-color;
	border-radius: 12px;
}
#workspaces button:hover {
	border: @detail-color;
	border-radius: 12px;
}

#window,
#clock,
#tray {
	background: @foreground-color;
	padding: 0 12px;
}

#network {
	color: #268bd2;
	background: @foreground-color;
	padding: 0 12px;
}

/* media */
#custom-media {
	color: #a3da11;
	background: @foreground-color;
	padding: 0 12px;
}
#pulseaudio.input {
	color: #ff99cc;
	background: @foreground-color;
	padding: 0 12px;
}
#pulseaudio.output {
	color: #7362c0;
	background: @foreground-color;
	padding: 0 12px;
}

/* performance */
#memory {
	color: #28a068;
	background: @foreground-color;
	padding: 0 12px;
}
#cpu {
	color: #cf4444;
	background: @foreground-color;
	padding: 0 12px;
}
#custom-gpu {
	color: #b58900;
	background: @foreground-color;
	padding: 0 12px;
}

