@define-color detail-color      #fcf0cf;
@define-color foreground-color  #1a1a1a;
@define-color background-color  #292b2e;

* {
	font-size: 12px;
	font-family: "SauceCodePro Nerd Font", monospace;
	border-color: transparent;
}
window#waybar {
	background: @background-color;
	color: @detail-color;
}

#workspaces {
	background: @foreground-color;
}
#workspaces button {
	padding: 0 6px;
	color: @detail-color;
}
#workspaces button.active {
	color: @background-color;
	background: @detail-color;
	border-radius: 12px;
}
#workspaces button:hover {
	color: @foreground-color;
	border: @detail-color;
	border-radius: 12px;
}

#window,
#clock,
#tray,
#network,
/* Media */
#custom-media,
#pulseaudio,
/* Hardware stats */
#battery,
#memory,
#cpu,
#custom-gpu {
	background: @foreground-color;
	padding: 0 6px;
}

